<h1 class="mat-h1">{{componentTitle}}</h1>


<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <p>
  <mat-form-field appearance="outline" [style]="{'width': '40%'}">
      <mat-label>Title</mat-label>
      <input matInput type='text' id="title" name="title" formControlName="title">
    </mat-form-field>
  </p>

  <p>

    <mat-form-field appearance="outline" [style]="{'width': '40%'}">
      <mat-label>Content</mat-label>
      <textarea matInput id="content" rows="5" formControlName="content"></textarea>
    </mat-form-field>

  </p>

  <button mat-button type="submit" class="mat-raised-button" color="primary" [disabled]="!form.valid">Confirm</button>

</form>
