<p>Welcome to my dashboard !</p>
<p>This dashboard contains : </p>

<ul>
  <li>A todo-list linked to a Mongo DB</li>
  <li>Support for Spotify's API</li>
</ul>

<p>With the todo list, you can : </p>
<ul>
  <li>Create a todo</li>
  <li>Edit a todo</li>
  <li>Delete a todo</li>
  <li>Save the todo list</li>

</ul>
<p>With Spotify, you can perform some actions when logging in, like :</p>
<ul>
  <li>Search an artist</li>
  <li>Play this artist (try it out !)</li>
  <li><i>And many more features to come...</i></li>
</ul>
