<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row><span>Dashboard</span></mat-toolbar-row>


  </mat-toolbar>

<mat-sidenav-container *ngIf="'true' === 'true'" class="sidenav" >
  <!-- <mat-nav-list>
    <a href="/">A</a>
    <a href="/">B</a>
    <a href="/">C</a>
    <a href="/">D</a>
    <a href="/">E</a>
  </mat-nav-list> -->
    <mat-sidenav #sidenav color="primary" mode="side" fixed="true" [style]="{'width': '12vw'}" opened>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Todo List</mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable'><span routerLink='/todolist'>Check the todo list</span></mat-action-row>
        <mat-action-row class='clickable'>Add an element</mat-action-row>


      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>GitHub</mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable'>My projects</mat-action-row>
        <mat-action-row class='clickable'>Add an element</mat-action-row>


      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>RSS</mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable'>My projects</mat-action-row>
        <mat-action-row class='clickable'>Add an element</mat-action-row>


      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>GMail</mat-panel-title>

        </mat-expansion-panel-header>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Spotify</mat-panel-title>

        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-sidenav>

    <router-outlet></router-outlet>

</mat-sidenav-container>
