<mat-toolbar color="primary" class="toolbar">

  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My dashboard</span>
  </mat-toolbar-row>


  </mat-toolbar>

<mat-sidenav-container class="sidenav" >

    <mat-sidenav #sidenav color="primary" mode="side" [style]="{'width': '12vw'}" [opened]="opened">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Todo List</mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable'><span routerLink='/todolist'>List</span></mat-action-row>
        <mat-action-row class='clickable' routerLink="/todolist/add">Add</mat-action-row>


      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>GitHub</mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable'>My projects</mat-action-row>
        <mat-action-row class='clickable'>Add an element</mat-action-row>


      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>RSS</mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable'>My projects</mat-action-row>
        <mat-action-row class='clickable'>Add an element</mat-action-row>


      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="isLoggedOnGmail">
        <mat-expansion-panel-header>
          <mat-panel-title id="title-gmail">
            <span>GMail</span>
            <mat-icon [ngClass]="{'red-dot': !isLoggedOnGmail, 'green-dot': isLoggedOnGmail}">fiber_manual_record</mat-icon>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable' (click)="triggerGmailLoginProcedure()" *ngIf="!isLoggedOnGmail">Click here to login</mat-action-row>
        <mat-action-row class='clickable' routerLink="/gmail" *ngIf="isLoggedOnGmail">Home</mat-action-row>

      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="isLoggedOnSpotify">
        <mat-expansion-panel-header>
          <mat-panel-title id="title-spotify">
            <span>Spotify</span>
            <mat-icon [ngClass]="{'red-dot': !isLoggedOnSpotify, 'green-dot': isLoggedOnSpotify}">fiber_manual_record</mat-icon>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-action-row class='clickable' (click)="triggerLoginProcedure()" *ngIf="!isLoggedOnSpotify">Click here to login</mat-action-row>
        <mat-action-row class='clickable' routerLink="/spotify" *ngIf="isLoggedOnSpotify">Home</mat-action-row>

      </mat-expansion-panel>
    </mat-sidenav>

    <router-outlet></router-outlet>

    <ng-container *ngIf="isLoggedOnSpotify">
      <app-spotify-player></app-spotify-player>

    </ng-container>

</mat-sidenav-container>

