#spotify_player_content {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

#song_title_container {
  display:flex;
  flex-direction: column;
}

#song_img_container {
  margin-right:0.5vw;
}

#song_container {
  display:flex;
  flex-direction:row;

}

#middle-panel {
  width:50vw;
  display:flex;
  align-items: center;
  flex-direction:column;
}

#controls {
  display:flex;
  align-items: center;
}

#volume_and_change_device {
  display:flex;
  flex-direction:column;
}

#playback-slider {
  width: 40vw;
}

#song-current-time-label,
#song-duration-label {
  font-size: 0.85rem;
}


#control-icons {
  display:flex;
  justify-content: space-around;
}

#control-icons > * {
  cursor: pointer;
}
