:host {
  max-height:90vh;
  display:block;
}

table {
  height:60vh;
  display:block;
  overflow-y:scroll;
}

#actions {
  height:8vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-cell-selection {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  height:inherit;
}

.unread {
  font-weight:bolder;
}

tr:hover {
  cursor:pointer;
}

#spinner-container {
  display:flex;
  width:100%;
  height: 90vh;
  justify-content: space-around;
  align-items:center;
}

.hidden {
  display: none;
}

.mat-column-snippet {
  width: 60%;
}

#input-container {
  display:flex;
  width: 100%;
  justify-content: space-around;
}
