:host {
  max-height:90vh;
  display:block;
}

table {
  height:70vh;
  display:block;
  overflow-y:scroll;
}


.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
}

.unread {
  font-weight:bolder;
}

tr:hover {
  cursor:pointer;
}

#spinner-container {
  display:flex;
  width:100%;
  height: 90vh;
  justify-content: space-around;
  align-items:center;
}

.hidden {
  display: none;
}

.mat-column-snippet {
  width: 60vw;
}

.mat-column-id {
  width:5vw;
}
